services:
  proxy:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx-proxy-manager
    restart: unless-stopped
    network_mode: host
    volumes:
      - ${NGINX_ROOT_FOLDER}:/data
      - ${LETS_ENCRYPT_ROOT_FOLDER}:/etc/letsencrypt
    healthcheck:
      test: ["CMD", "/usr/bin/check-health"]
      interval: 10s
      timeout: 3s

  
  nginx:
      container_name: nginx
      image: nginx:latest
      hostname: nginx
      restart: unless-stopped
      ports:
        - 443:443
      networks:
        - nginx-network
      volumes:
        - ./nginx_data:/etc/nginx

  ddns:
    image: favonia/cloudflare-ddns:latest
    container_name: cloudflare-ddns
    # network_mode: host # This bypasses network isolation and makes IPv6 easier (optional; see below)
    restart: unless-stopped
    user: "1000:1000" # Run the updater with specific user and group IDs (in that order).
    read_only: true # Make the container filesystem read-only (optional but recommended)
    cap_drop: [all] # Drop all Linux capabilities (optional but recommended)
    security_opt: [no-new-privileges:true] # Another protection to restrict superuser privileges (optional but recommended)
    environment:
      - CLOUDFLARE_API_TOKEN=${CLOUDFLARE_API_TOKEN}
      - DOMAINS=huelin.dev,*.huelin.dev
      - PROXIED=true
      - IP6_PROVIDER=none

# For testing the proxy
  helloworld:
    image: 'karthequian/helloworld:latest'
    container_name: helloworld
    restart: unless-stopped
    ports:
      - 8888:80/tcp
      


networks:
  nginx-network:
    external: true